@import "colors.scss";

.mainArea {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 1rem;
  row-gap: 2rem;
  max-width: 120rem;
  margin: auto;

  .heroImageContainer {
    img {
      width: 100%;
    }
  }

  .contentContainer {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;

    .titleDescBtn {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      row-gap: 2rem;

      .title {
        font-size: 3rem;
        color: $almost-black;
      }

      .desc {
        color: $medium-gray;
        font-size: 1.2rem;
        max-width: 45rem;
        line-height: 1.4;
        margin: auto;
        letter-spacing: 0.3px;
        word-spacing: 0.5px;
      }

      .learnMoreBtn {
        border: 1px solid $almost-black;
        padding: 1rem 1.4rem;
        border-radius: 10px;
        background-color: $almost-black;
        transition: all 0.3s;
        color: $almost-white;
        cursor: pointer;
        font-weight: 700;
        letter-spacing: 0.5px;
      }

      .learnMoreBtn:hover {
        background-color: $almost-white;
        color: $almost-black;
      }
    }

    .logos {
      align-items: center;
      column-gap: 0.5rem;
      display: flex;
      justify-content: space-around;

      img {
        width: 4.5rem;
      }
    }
  }
}

@media screen and (min-width: 380px) {
  .mainArea {
    .contentContainer {
      .titleDescBtn {
        .desc {
          font-size: 1.3rem;
        }
      }

      .logos {
        img {
          width: 6.5rem;
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .mainArea {
    align-items: center;
    grid-template-areas: "contentContainer heroImageContainer";
    grid-template-columns: repeat(2, 1fr);
    height: 90vh;

    .heroImageContainer {
      display: flex;
      grid-area: heroImageContainer;
      justify-content: center;
      img {
        min-width: 35rem;
        width: 75%;
      }
    }

    .contentContainer {
      align-items: flex-start;
      grid-area: contentContainer;
      margin: auto;
      width: 90%;

      .titleDescBtn {
        align-items: flex-start;
        row-gap: 3rem;
        text-align: left;

        .title {
          font-size: 6rem;
        }

        .desc {
          font-size: 1.7rem;
          line-height: 1.6;
          max-width: initial;
        }

        .learnMoreBtn {
          padding: 1.3rem 0;
          width: 25%;
        }
      }

      .logos {
        justify-content: space-between;
        margin-top: 4rem;
        width: 100%;

        img {
          width: 7.5rem;
        }
      }
    }
  }
}
