@import "colors.scss";

.mobileMenu {
  box-shadow: -10px 0 20px 1px rgba(111, 111, 111, 0.2);
  display: flex;
  flex-direction: column;
  max-width: 50%;
  min-height: 100vh;
  min-width: 20rem;
  padding: 1rem 1.2rem 0;
  position: absolute;
  right: 0;
  row-gap: 3rem;
  top: 0;
  width: 50%;
  z-index: 999;
  background-color: $almost-white;

  .logoContainer {
    display: flex;

    justify-content: flex-end;

    img {
      cursor: pointer;
      width: 2.5rem;
    }
  }

  .items {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin-top: 3rem;
    row-gap: 2rem;

    .careers,
    .about {
      color: $medium-gray;
      cursor: pointer;
    }

    .careers:hover,
    .about:hover {
      opacity: 0.8;
    }
  }

  .lastItems {
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    text-align: center;
    width: 100%;

    .login,
    button {
      color: $medium-gray;
      cursor: pointer;
      font-size: 1.2rem;
    }

    .login:hover {
      opacity: 0.8;
    }

    button {
      background-color: transparent;
      border: 2px solid $medium-gray;
      border-radius: 13px;
      padding: 1rem;
      width: 100%;
    }

    button:hover {
      border-color: $almost-black;
    }
  }
}
