@import "colors.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  max-width: 150rem;
  padding: 1rem 1.2rem 2rem;
  margin: auto;
  column-gap: 4rem;

  .menuLogoContainer {
    img {
      cursor: pointer;
    }
  }
}
